{% extends "base.html" %} {% block title %} Home{% endblock title %} {% block
body %}
<!-- <header class="font-black">
        <nav class="flex flex-row m-2">
            <ul>
                <a href="/">Contact Us</a>
                <a href="/">Services</a>
                <a href="/">About</a>
                <a href="/">Home Page</a>
                <div class="button"><button>Sign in</button></div>
            </ul>
        </nav>
    </header> -->
<header class="font-black">
  <nav class="flex flex-row m-2">
    <div class="m-2 mx-8">
      <img
        src="{{url_for('static', filename='images/logo.png')}}"
        class="h-16"
      />
    </div>
    <ul class="flex ml-auto space-x-4 justify-center items-center text-xl cursor-pointer">
      <li>
        <a
          href="/"
          class="text-gray-800 hover:text-gray-900 hover:scale-105 font-bold transition duration-300 mx-4"
          >Contact Us</a
        >
      </li>
      <li>
        <a
          id="service"
          class="text-gray-800 hover:text-gray-900 hover:scale-105 font-bold transition duration-300 mx-4"
          >Services</a
        >
      </li>
      <li>
        <a
          href="/"
          class="text-gray-800 hover:text-gray-900 hover:scale-105 font-bold transition duration-300 mx-4"
          >About</a
        >
      </li>
      <li>
        <a
          href="/profile"
          class="text-gray-800 hover:text-gray-900 hover:scale-105 font-bold transition duration-300 mx-4"
          >Profile</a
        >
      </li>
      <!-- <li><a href="/" class="text-gray-800 hover:text-gray-600 transition duration-300">Home Page</a></li> -->
    </ul>
    <div class="flex ml-auto justify-center items-center px-4">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Sign in
      </button>
    </div>
  </nav>
</header>


<!-- main section starts here  -->

<div class="flex flex-row h-screen bg-[#CDE6EE]">
  <div class="basis-1/2 m-4 flex flex-col pt-28 items-center">
    <div class="text-5xl text-center font-semibold">
      “ Stay Informed, Stay Healthy Explore CareSync Today ”
    </div>
    <div class="text-center w-[500px] font-medium text-xl my-8">
      This websites aim to empower individuals to take control of their health
      by offering access to medical expertise, educational content, and tools
      for managing health-related concerns
    </div>
    <div class="px-8">
      <button class="px-8 bg-[#16C6E0] text-2xl py-2 rounded-lg hover:scale-105 duration-300">
        <a href="http://localhost:5173/" target="_blank">Start Chat</a>
      </button>
    </div>
  </div>
  <div class="basis-1/2 m-4 flex 9t-28hover: justify-center">
    <img
      src="{{url_for('static',filename='images/Ellipse_1.png')}}"
      class="pic1"
    />
    <img
      src="{{url_for('static',filename='images/female_doctor_hospital_1.png')}}"
      class="pic2"
    />
  </div>
</div>

<!-- landing section ends here  -->


<!-- our section starts here  -->
<section class="section2" id="our-services">
  <div class="text-4xl font-bold text-center py-8 mx-10">Our Services</div>
  <div class="flex flex-row justify-cente mx-32 mt-4">
    <div class="basis-1/3 mr-10 flex-col justify-center items-center">
      <img
        class="h-[350px] rounded"
        src="{{url_for('static',filename='images/doctor_consultation.jpeg')}}"
        alt=""
        srcset=""
      />
      <div class="py-2 text-center my-2 w-[350px] rounded bg-slate-700 text-white text-xl hover:scale-105 duration-300">Doctor Appointment</div>
    </div>
    <div class="basis-1/3 mx-4 flex-col justify-center items-center">
      <img
        class="h-[350px] rounded"
        src="{{url_for('static',filename='images/payments.jpeg')}}"
        alt=""
        srcset=""
      />
      <div class="py-2 text-center my-2 w-[350px] rounded bg-slate-700 text-white text-xl hover:scale-105 duration-300">World Wide Transaction</div>
    </div>
    <div class="basis-1/3 ml-10 flex-col justify-center items-center">
      <img
        class="h-[350px] rounded"
        src="{{url_for('static',filename='images/chatbot.jpeg')}}"
        alt=""
        srcset=""
      />
      <div class="py-2 text-center my-2 w-[350px] rounded bg-slate-700 text-white text-xl hover:scale-105 duration-300">CareSync Chatbot</div>
    </div>
  </div>
</section>
<!-- our section ends here  -->


<!-- footer section starts here  -->

<div class="w-screen bg-slate-900 h-1/4 mt-10">
    <div class="flex flex-row">
      <div class="basis-2/3 m-10 md:ml-32 text-white flex flex-col">
        <div class="mb-4">
          <span class="w-max md:text-3xl">
            <strong>CareSync</strong>
          </span>
        </div>
        <div class="md:text-xl">
          <a href="/" class="text-white hover:text-gray-300">Our Team</a>
        </div>
        <div class="md:text-xl">
          <a href="/" class="text-white hover:text-gray-300">About Us</a>
        </div>
        <div class="md:text-xl">
          <a href="/" class="text-white hover:text-gray-300">Contact Us</a>
        </div>
        <div class="md:text-xl">
          <a href="/" class="text-white hover:text-gray-300">Privacy Policy</a>
        </div>
        <div class="md:text-xl">
          <a href="/" class="text-white hover:text-gray-300">Terms & Conditions</a>
        </div>
      </div>
      <div class="basis-1/3 m-10 md:ml-32 text-white flex flex-col mr-4">
        <div class="bg-slate-800 rounded-lg w-min p-4 mb-10 hover:scale-105 duration-300 hover:bg-slate-700">
          <button class="w-max text-white hover:text-gray-300">Download Our App</button>
        </div>
  
        <div class="hidden md:block">
          <strong>Connect on Social Media</strong>
          <div class="">
            <a href="/" class="text-white hover:text-gray-300">Instagram</a>
          </div>
          <div class="">
            <a href="/" class="text-white hover:text-gray-300">Youtube</a>
          </div>
          <div class="">
            <a href="/" class="text-white hover:text-gray-300">Facebook</a>
          </div>
        </div>
        <div class="hidden m-2">
          <span>
            <strong>Connect on Socials</strong>
          </span>
        </div>
        <div>
          <div class="my-1 md:text-xl flex items-center m-2">
            <span class="text-white mr-2"><i class="fab fa-instagram"></i></span>
            <span class="text-white mr-2"><i class="fab fa-linkedin"></i></span>
            <!-- <span>@ecoisticpathshala</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  

<!-- footer section ends here  -->
<script>
    // Function to scroll to the Our Services section
    function scrollToOurServices() {
      // Select the Our Services section
      const ourServicesSection = document.getElementById('our-services');
      // Scroll to the top of the Our Services section smoothly
      ourServicesSection.scrollIntoView({ behavior: 'smooth' });
    }
  
    // Select the Services link in the navbar
    const servicesLink = document.getElementById('service');
  
    // Add click event listener to the Services link
    servicesLink.addEventListener('click', function(event) {
      // Prevent default behavior of the link (e.g., page refresh)
      event.preventDefault();
      // Scroll to the Our Services section when Services link is clicked
      scrollToOurServices();
    });
  </script>
{% endblock body %}
